html 
	head
		meta (http-equiv="Content-Type" content="text/html; charset=utf-8")
	
	body
		img (src="http://m.mobilitix.mobi/img/dummy.gif" style="display:none" alt="required for Google Data" width="0" height="0")